body {
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Didact Gothic', sans-serif;
  font-size: 16px;
  color: white;

  background: url('../images/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card-text {
  font-size: 80%;
}
/* add the message display none initially */
#error {
  /*display:none;*/
  color: #990000;
}

#header {
  background: linear-gradient(0.25turn, #3f87a6, #f69d3c);
}